window.env = {
    api: {
      authUrl: '<%= ssl_helper('http') %>://<%= @config['app']['subdomain'] %>.<%= @config['app']['domain'] %>/api/v2/barong',
      tradeUrl: '<%= ssl_helper('http') %>://<%= @config['app']['subdomain'] %>.<%= @config['app']['domain'] %>/api/v2/peatio',
      applogicUrl: '<%= ssl_helper('http') %>://<%= @config['app']['subdomain'] %>.<%= @config['app']['domain'] %>/api/v2/applogic',
      
    },
    minutesUntilAutoLogout: '35',
    withCredentials: false,
    captcha: {
        captchaType: '<%= @config['recaptcha']['type'] %>',
        siteKey: '<%= @config['recaptcha']['siteKey'] %>',
    },
    msAlertDisplayTime: '5000',
    licenseKey: 'LICENSE-KEY',
};
