version: '3.6'

services:
  peatio:
    restart: always
    image: "<%= @config['images']['peatio'] %>"
    env_file:
      - ../config/peatio.env
    expose:
      - "8000"
    volumes:
      - ../config/peatio/seed:/opt/peatio/config/seed
      - ../config/peatio/management_api_v1.yml:/opt/peatio/config/management_api_v1.yml
      - ../config/peatio/plugins.yml:/opt/peatio/config/plugins.yml
    labels: {}
    command: bash -c "bin/link_config && bundle exec puma --config config/puma.rb"

  barong:
    restart: always
    image: "<%= @config['images']['barong'] %>"
    env_file:
      - ../config/barong.env
    volumes:
      - ../config/secrets:/secrets:ro
      - ../config/barong/seeds.yml:/home/app/config/seeds.yml
      - ../config/barong/barong.yml:/home/app/config/barong.yml
      - ../config/barong/authz_rules.yml:/home/app/config/authz_rules.yml
      - ../config/barong/management_api.yml:/home/app/config/management_api.yml

  
  applogic:
    restart: always
    image: "<%= @utils['images']['applogic'] %>"
    env_file:
      - ../config/applogic.env
    expose:
      - "8081"
    volumes:
      - ../config/applogic/management_api_v2.yml:/home/app/config/management_api_v2.yml
