version: '3.6'

services:
  db:
    restart: always
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
      - ../config/mysql:/etc/mysql/conf.d
    environment:
      MYSQL_ROOT_PASSWORD: changeme

  

  redis:
    image: redis:4.0.10
    restart: always
    volumes:
      - redis_data:/data

  rabbitmq:
    image: rabbitmq:3.7.6-management
    restart: always
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  vault:
    image: vault:1.3.0
    restart: always
    volumes:
      - vault_data:/vault
    <%- if @config['vault']['mode'] == "production" -%>
    command:
      - server
    cap_add:
      - IPC_LOCK
    <%- end -%>
    environment:
    <%- if @config['vault']['mode'] == "production" -%>
      VAULT_LOCAL_CONFIG: '{"storage": {"file": { "path": "/vault/data" }}, "listener": {"tcp":{"address": "0.0.0.0:8200","tls_disable":"1"}}}'
    <%- elsif @config['vault']['mode'] == "development" -%>
      SKIP_SETCAP: 1
      VAULT_TOKEN: <%= @config['vault']['token'] %>
      VAULT_DEV_ROOT_TOKEN_ID: <%= @config['vault']['token'] %>
    <%- end -%>
      VAULT_ADDR: http://vault:8200

volumes:
  db_data:
  rabbitmq_data:
  redis_data:
  vault_data:
