PORT=8001

LOG_LEVEL=warn

DISABLE_SPRING=true

RAILS_ENV=production

SECRET_KEY_BASE=64

DATABASE_HOST=<%= @config['database']['host'] %>
DATABASE_PORT=<%= @config['database']['port'] %>
DATABASE_USER=<%= @config['database']['user'] %>
DATABASE_PASS=<%= @config['database']['password'] %>





RECAPTCHA_SECRET_KEY=<%= @config['recaptcha']['siteKey'] %>
RECAPTCHA_SITE_KEY=<%= @config['recaptcha']['secretKey'] %>

JWT_PUBLIC_KEY=<%= @barong_public_key %>
JWT_PRIVATE_KEY_PATH=/secrets/barong.key

VAULT_TOKEN=<%= @config['vault']['token'] %>
VAULT_ADDRESS=http://vault:8200

REDIS_URL=redis://redis:6379

EVENT_API_JWT_PRIVATE_KEY=<%= @barong_private_key %>
EVENT_API_JWT_ALGORITHM=RS256
EVENT_API_RABBITMQ_HOST=rabbitmq
EVENT_API_RABBITMQ_PORT=5672
EVENT_API_RABBITMQ_USERNAME=guest
EVENT_API_RABBITMQ_PASSWORD=guest

APP_NAME=<%= @config['app']['name'] %>
BARONG_DOMAIN=<%= ssl_helper('http') %>://<%= @config['app']['subdomain'] %>.<%= @config['app']['domain'] %>
