RAILS_ENV=production
RAILS_ROOT=/home/app

PORT=8000
URL_HOST=<%= @config['app']['subdomain'] %>.<%= @config['app']['domain'] %>

LOG_LEVEL=warn

ADMIN=admin@barong.io

DATABASE_HOST=<%= @config['database']['host'] %>
DATABASE_PORT=<%= @config['database']['port'] %>
DATABASE_USER=<%= @config['database']['user'] %>
DATABASE_PASS=<%= @config['database']['password'] %>

VAULT_URL=http://vault:8200
VAULT_TOKEN=<%= @config['vault']['token'] %>

REDIS_URL=redis://redis:6379

RABBITMQ_HOST=rabbitmq


MARKETS_CONFIG=/opt/peatio/config/seed/markets.yml
CURRENCIES_CONFIG=/opt/peatio/config/seed/currencies.yml
MANAGEMENT_API_V1_CONFIG=/opt/peatio/config/management_api_v1.yml

JWT_AUDIENCE=peatio,barong
JWT_PUBLIC_KEY=<%= @barong_public_key %>

EVENT_API_JWT_PRIVATE_KEY=<%= @barong_private_key %>
EVENT_API_JWT_ALGORITHM=RS256
EVENT_API_RABBITMQ_HOST=rabbitmq
EVENT_API_RABBITMQ_PORT=5672
EVENT_API_RABBITMQ_USERNAME=guest
EVENT_API_RABBITMQ_PASSWORD=guest

MINIMUM_MEMBER_LEVEL_FOR_DEPOSIT=1
MINIMUM_MEMBER_LEVEL_FOR_WITHDRAW=3
MINIMUM_MEMBER_LEVEL_FOR_TRADING=2

SECRET_KEY_BASE=faiba2shei0Ae5gahCh4aipoh3meyaFi
FORCE_SECURE_CONNECTION="false"
